@model CRME.Models.Acciones_correctivas

@if (ViewBag.edit != 1)
{
    <div class="row margin-10">
        <div class="col l6 m6 s11 titlecircle">
            <b>Nuevas acciones Correctivas</b>
        </div>
        <div class="col l6 m6 s1 separator">
        </div>
    </div>
}
else
{
    <div class="row margin-10">
        <div class="col l6 m6 s11 titlecircle">
            <b>Editar acciones Correctivas</b>
        </div>
        <div class="col l6 m6 s1 separator">
        </div>
    </div>
}

@using (Html.BeginForm("#", "#", FormMethod.Post, new { @class = "", id = "FrmAccion" }))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    @Html.HiddenFor(model => model.id)

    <!-- ----------------Datos personales---------------- -->
    if (Auth.Usuario.perfil_ID == 6 || Auth.Usuario.perfil_ID == 1)
    { 
    <div class="row">
        <div class="col s12 m12 l12 input-field">
            <b class="">Empresa:</b>
            <div class="input-field margin-top-0">
                @if (Model.Em_Cve_Empresa == 0)
                {
                    @Html.DropDownListFor(model => Model.Em_Cve_Empresa, new SelectList(ViewBag.tipodoc, "Value", "Text"), "-- Seleccione empresa --", htmlAttributes: new { @class = "select classic" })
                }
                else
                {
                    @Html.DropDownListFor(model => Model.Em_Cve_Empresa, new SelectList(ViewBag.tipodoc, "Value", "Text"), "-- Seleccione empresa --", new { @class = "select classic" })
                }
                @Html.ValidationMessageFor(model => Model.Em_Cve_Empresa, "", new { @class = "text-danger" })
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col s12 m12 l12 input-field">
            <b class="">Proceso:</b>
            <div class="input-field margin-top-0">
                @Html.TextBoxFor(model => Model.Proceso, new { @class = "Validate form-simple", placeholder = "Ingrese el proceso", maxlength = 100, style = " !important;" })
                @Html.ValidationMessageFor(model => Model.Proceso, "", new { @class = "text-danger" })
                <div id="mensaje-error-model" class="text-danger" style="font-size:15px"></div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col s12 m4 l4 input-field">
            <b class="">Desviación detectada:</b>
            <div class="input-field margin-top-0">
                @Html.TextBoxFor(model => Model.DesviacionDet, new { @class = "Validate form-simple", placeholder = "Ingrese la desviacion detectada", maxlength = 100, style = " !important;" })
                @Html.ValidationMessageFor(model => Model.DesviacionDet, "", new { @class = "text-danger" })
                <div id="mensaje-error-model" class="text-danger" style="font-size:15px"></div>
            </div>
        </div>
        <div class="col s12 m4 l4 input-field">
            <b class="">Responsable de la AC:</b>
            <div class="input-field margin-top-0">
                @Html.TextBoxFor(model => Model.ResponsableAC, new { @class = "Validate form-simple", placeholder = "Ingrese el responsable de la AC", maxlength = 100, style = " !important;" })
                @Html.ValidationMessageFor(model => Model.ResponsableAC, "", new { @class = "text-danger" })
                <div id="mensaje-error-model" class="text-danger" style="font-size:15px"></div>
            </div>
        </div>
        <div class="col s12 m4 l4 input-field">
            <b class="">Acción correctiva:</b>
            <div class="input-field margin-top-0">
                @Html.TextBoxFor(model => Model.AccionCorrectiva, new { @class = "Validate form-simple", placeholder = "Ingrese la accion correctiva", maxlength = 100, style = " !important;" })
                @Html.ValidationMessageFor(model => Model.AccionCorrectiva, "", new { @class = "text-danger" })
                <div id="mensaje-error-model" class="text-danger" style="font-size:15px"></div>
            </div>
        </div>
    </div>


    <div class="row">

        <div class="col s12 m4 l4 input-field">
            <b class="">Fecha compromiso:</b>
            <div class="input-field margin-top-0">
                @Html.TextBoxFor(model => Model.FechaCompromiso, new { @class = "Validate form-simple", placeholder = "Ingrese la fecha compromiso", maxlength = 100, style = " !important;" })
                @Html.ValidationMessageFor(model => Model.FechaCompromiso, "", new { @class = "text-danger" })
                <div id="mensaje-error-model" class="text-danger" style="font-size:15px"></div>
            </div>
        </div>
        <div class="col s12 m4 l4 input-field">
            <b class="">Avance:</b>
            <div class="input-field margin-top-0">
                @Html.TextBoxFor(model => Model.Avance, new { @class = "Validate form-simple", placeholder = "Ingrese el avance", maxlength = 100, style = " !important;" })
                @Html.ValidationMessageFor(model => Model.Avance, "", new { @class = "text-danger" })
                <div id="mensaje-error-model" class="text-danger" style="font-size:15px"></div>
            </div>
        </div>
        <div class="col s12 m4 l4 input-field">
            <b class="">Estatus:</b>
            <div class="input-field margin-top-0">
                @if (Model.Estatus == 0)
                {
                    @Html.DropDownListFor(model => Model.Estatus, new SelectList(ViewBag.est, "Value", "Text"), "-- Seleccione estatus --", htmlAttributes: new { @class = "select classic" })
                }
                else
                {
                    @Html.DropDownListFor(model => Model.Estatus, new SelectList(ViewBag.est, "Value", "Text"), "-- Seleccione estatus --", new { @class = "select classic" })
                }
                @Html.ValidationMessageFor(model => Model.Estatus, "", new { @class = "text-danger" })
            </div>
        </div>
    </div>
    }
    if (Auth.Usuario.perfil_ID != 6 || Auth.Usuario.perfil_ID != 6)
    {
    <div class="row">
        <div class="col s12">
            <div class="row">
                <div class="col s12 m12 l12">
                    <div class="row margin-0">
                        <div class="col s12 m12 l7 file-field input-field">
                            <div class="btn light-blue darken-4">
                                <i class="mdi mdi-folder-open"></i> EXAMINAR
                                <input type="file" id="fileInputArchivo" accept=".pdf,.JPEG,.xls,.docxs,.xlsx,.jpg">
                            </div>
                            <div class="file-path-wrapper">
                                <input id="nbArchivo" class="file-path validate" type="text">
                            </div>
                        </div>
                        <div class="input-field margin-top-0">
                            <input id="ruta" class="file-path validate" type="hidden">

                        </div>
                        <div class="col s12 m12 l3 input-field">
                            <button type="button" class="btn light-blue darken-4 btn-block" id="CargarArchivo"><i class="mdi mdi-cloud-upload load-icon"></i> CARGAR</button>
                        </div>
                        <div class="col s12 m12 l2 input-field">
                            <div class="loading loading-subir">
                                <div class="row center">
                                    @*   @Html.Image("~/Upload/Sistema/Loading_02.gif", "Loading", new { @class = "responsive-img center loading-size" })*@
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <label id="mensaje-error-model" class="text-danger" style="font-size:15px"></label>
        </div>
    </div>
   }
    <div class="row">
        <div class="col l12 m12 s12">
            <div class="row">
                <div class="col push-l6 l6 push-m4 m8 s12 right-align">
                    <a class="btn red darken-4 waves-effect" href="@Url.Action("Index", "AccionCorectView")"><i class="mdi mdi-close hide-on-small-and-down"></i> Cancelar</a>
                    <button type="submit" class="btn blue darken-4 waves-effect guardarProceso" style="margin-left: 10px"><i class="mdi mdi-content-save hide-on-small-and-down"></i> Guardar</button>
                </div>
            </div>
        </div>
    </div>

}

