@model CRME.Models.actualizaciones
@{

}

<div class="row margin-10">
    <div class="col l6 m6 s11 titlecircle">
        <b>Actulizaciones</b>
    </div>
    <div class="col l6 m6 s1 separator">
    </div>
</div>


@using (Html.BeginForm("#", "#", FormMethod.Post, new { @class = "", id = "FrmAccion" }))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    @Html.HiddenFor(model => model.id)

<!-- ----------------Datos personales---------------- -->

<div class="row">
    <div class="col s12 m6 l6 input-field">
        <b class="">Descripcion actualizacion:</b>
        <div class="input-field margin-top-0">
            @Html.TextBoxFor(model => Model.descripcion, new { @class = "Validate form-simple", placeholder = "Ingrese la descripcion de la actualizacion", maxlength = 100, style = " !important;" })
            @Html.ValidationMessageFor(model => Model.descripcion, "", new { @class = "text-danger" })
            <div id="mensaje-error-model" class="text-danger" style="font-size:15px"></div>
        </div>
    </div>
    <div class="col s12 m6 l6 input-field">
        <b class="">Departamento:</b>
        <div class="input-field margin-top-0">
            @if (Model.Dp_Cver_Departamento == 0)
            {
            @Html.DropDownListFor(model => Model.Dp_Cver_Departamento, new SelectList(ViewBag.depto, "Value", "Text"), "-- Seleccione departamento --", htmlAttributes: new { @class = "select classic" })
            }
            else
            {
            @Html.DropDownListFor(model => Model.Dp_Cver_Departamento, new SelectList(ViewBag.depto, "Value", "Text"), "-- Seleccione departamento --", new { @class = "select classic" })
            }
            @Html.ValidationMessageFor(model => Model.Dp_Cver_Departamento, "", new { @class = "text-danger" })
        </div>
    </div>
</div>

<div class="row">
    <div class="col l12 m12 s12">
        <div class="row">
            <div class="col push-l6 l6 push-m4 m8 s12 right-align">
                <a class="btn red darken-4 waves-effect" href="@Url.Action("Index","ActualizacionesView")"><i class="mdi mdi-close hide-on-small-and-down"></i> Cancelar</a>
                <button type="submit" class="btn blue darken-4 waves-effect guardarProceso" style="margin-left: 10px"><i class="mdi mdi-content-save hide-on-small-and-down"></i> Guardar</button>
            </div>
        </div>
    </div>
</div>

}

