<<<<<<< HEAD
﻿@using CustomHelpers
@using Microsoft.SqlServer.Types;

@{
    ViewBag.Title = "Catalogo de Indicadores";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<a name="ancla" id="ancla"></a>
<div class="row form-general margin-top-10">
    <div class="col l12 m12 s12">
        <div class="row">
            <div class="col l9 m9 s12">
                <h5>Indicadores</h5>
            </div>
        </div>
        @*<div class="col s12 m6 l6 input-field form-simple center-align">
            @Html.DropDownList( "Departamento",new SelectList(ViewBag.Departamento, "Value", "Text"), "-- Seleccione una departamento --", htmlAttributes: new { @class = "select classic" })
        </div>*@
        <div id="TablaIndicadores">
            @Html.Action("_TablaLineas", "IndicadoresView")
        </div>
        <div class="row">
            <div class="col l12 m12 s12">
                <div class="loading loding-personas">
                    <div class="row center">
                        <div class="col s12 m12 l12">
                            @Html.Image("~/Upload/Sistema/Loading_02.gif", "Loading", new { @class = "responsive-img center" })
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>

@*MODAL CON DIVERSOS USOS*@


<div id="modal2" class="modal " style="background-color: #fff; border: 2px solid #3399FF; max-height: 90% !important; margin-top: 30px">
    <b class="center-align blue-text margin-left-right-10">Datos</b>
    <div class="headline"></div>
    @using (Html.BeginForm("SaveDatos", "IndicadoresView", FormMethod.Post, new { @class = "form-simple", id = "FrmDatos" }))
    {
        <div class="modal-content">
            @Html.AntiForgeryToken()
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <div id="AgregarDatos">

            </div>
        </div>
        <div class="modal-footer">
            <div class="row margin-0">
                <div class="col s12 m12 l12">
                    <a class="btn btn-danger modal-close" style="margin-right:10px;"><i class="mdi mdi-close"></i>Cancelar</a>
                    <button type="submit" class="btn orange waves-effect margin-right-5 editarIndicador" id-solicitud="@ViewBag.Indicadores_ID"><i class="mdi mdi-content-save"></i>Guardar</button>
                </div>
            </div>
        </div>
    }
</div>


<div id="ModalAlert" class="modal modal-fixed-footer" style="width:300px; height:240px;">
    <div class="md-header center"><img src="~/Upload/Sistema/Logo_CA.png" style="width:40px" /></div>
    <div class="modal-content md-content">
        <h5 class="md-title">Título</h5>
        <span><i class="md-icono mdi mdi-36px"></i><span><span class="md-message">Mensaje</span></span></span>
    </div>
    <div class="modal-footer">
        <a href="javascript:void(0)" class="modal-action modal-close waves-effect waves-red btn-flat md-btn-danger hide md-cancel cancelar-eventos">Cancelar</a>
        <a href="javascript:void(0)" class="modal-action waves-effect waves-green btn-flat md-btn-success md-accept">Aceptar</a>
    </div>
</div>

@section scripts{
    <script type="text/javascript">
        $(document).ready(function () {
            $("#ModalAlert").modal();

            $(".cancelar-eventos").off('click');
            $(".cancelar-eventos").on('click', function (e) {
                $('#ModalAlert').off("click", ".md-accept");
            });
        });

            $("#FrmDatos").off('click', '.editarIndicador');
            $("#FrmDatos").on("click", ".editarIndicador", function (e) {
                //alert(" ");
                e.preventDefault();
                var frmValues = $("#FrmDatos").serialize();
                $.ajax({
                    url: '@Url.Action("SaveDatos", "IndicadoresView")',
                    data: frmValues,
                        type: "POST",
                        success: function (result) {//obtiene el resultado json
                            $(".editarIndicador").attr("disabled", false);
                            if (result.success) {//si es true el resultado
                                ConfigModal($('#ModalAlert'), "", "Operación realizada con éxito.", 1)//para crear la ventana flotante
                                $("#ModalAlert").modal({
                                    dismissible: false,
                                });
                                $('#mensaje-error-model').text("");
                                $("#TablaIndicadores").load('@Url.Action("_TablaLineas", "IndicadoresView")', function (response, status, xhr) {
                                    if (status == "success") {
                                        guardarDatos();
                                    }
                                });

                                $("#ModalAlert").modal('open');
                                $("#ModalAlert").modal('open');
                                window.location = "/IndicadoresView/index";
                                @*$("#TablaIndicadores").load('@Url.Action("_TablaLineas", "ProveedoresView")', function (response, status, xhr) {
                                    if (status == "success") {
                                    }
                                });*@
                            }
                            else if (result.mensajefound != "") {
                                ConfigModal($('#ModalAlert'), "",result.mensajefound , 3)//para crear la ventana flotante
                                $("#ModalAlert").modal({
                                    dismissible: false,
                                });
                                $("#ModalAlert").modal('open');
                            }
                        }
                    });
            });


        @*REGLAS FORMULARIO*@
        //function CargarReglasGeneralFormuario() {
        //    var formulario = $("#FrmUsuario").removeData("validator").removeData("unobtrusiveValidation");
        //    $.validator.unobtrusive.parse(formulario);

        //    jQuery.extend(jQuery.validator.messages, {
        //        minlength: jQuery.validator.format("El campo nombre debe llevar minimo {0} caracteres."),
        //        maxlength: jQuery.validator.format("Porfavor ingrese caracteres no mayores a {0}.")
        //    });

        //}

        @*SEPARACION*@

        @*====================== PAGINACIONES ===========================*@

        function FltOnBeginPer(obj) {
            $("#TablaEmpresas #contentTablaEmpresas").addClass("loading-background");
            var $oncomplete = $('.loading-personas').addClass("loading-show").removeClass("loading");
        }

        function FltOnCompletePer(obj) {
            $("#TablaEmpresas #contentTablaEmpresas").removeClass("loading-background");
            var $oncomplete = $('.loading-personas').addClass("loading").removeClass("loading-show");
        }


        $("#TablaIndicadores").off('click', '.agregadatos');
        $("#TablaIndicadores").on('click', '.agregadatos', function (e) {
            e.preventDefault();
            var indicadores_ID = $(this).attr("id-item");
            $('#AgregarDatos').load('@Url.Action("_FormularioDatos", "IndicadoresView")', { indicadores_ID }, function (response, status, xhr) {
                    if (status == "success") {

                    }
                });
                $("#modal2").modal({
                    dismissible: false,
                });
                $("#modal2").modal('open');
        });

    </script>
}

=======
﻿@using CustomHelpers
@using Microsoft.SqlServer.Types;

@{
    ViewBag.Title = "Catalogo de Indicadores";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<a name="ancla" id="ancla"></a>
<div class="row form-general margin-top-10">
    <div class="col l12 m12 s12">
        <div class="row">
            <div class="col l9 m9 s12">
                <h5>Indicadores</h5>
            </div>
        </div>
        @*<div class="col s12 m6 l6 input-field form-simple center-align">
            @Html.DropDownList( "Departamento",new SelectList(ViewBag.Departamento, "Value", "Text"), "-- Seleccione una departamento --", htmlAttributes: new { @class = "select classic" })
        </div>*@
        <div id="TablaIndicadores">
            @Html.Action("_TablaLineas", "IndicadoresView")
        </div>
        <div class="row">
            <div class="col l12 m12 s12">
                <div class="loading loding-personas">
                    <div class="row center">
                        <div class="col s12 m12 l12">
                            @Html.Image("~/Upload/Sistema/Loading_02.gif", "Loading", new { @class = "responsive-img center" })
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>

@*MODAL CON DIVERSOS USOS*@
<div id="ModalAlert" class="modal modal-fixed-footer" style="width:300px; height:240px;">
    <div class="md-header center"><img src="~/Upload/Sistema/Logo_CA.png" style="width:40px" /></div>
    <div class="modal-content md-content">
        <h5 class="md-title">Título</h5>
        <span><i class="md-icono mdi mdi-36px"></i><span><span class="md-message">Mensaje</span></span></span>
    </div>
    <div class="modal-footer">
        <a href="javascript:void(0)" class="modal-action modal-close waves-effect waves-red btn-flat md-btn-danger hide md-cancel cancelar-eventos">Cancelar</a>
        <a href="javascript:void(0)" class="modal-action waves-effect waves-green btn-flat md-btn-success md-accept">Aceptar</a>
    </div>
</div>

@section scripts{
    <script type="text/javascript">
        $(document).ready(function () {
            $("#ModalAlert").modal();

            $(".cancelar-eventos").off('click');
            $(".cancelar-eventos").on('click', function (e) {
                $('#ModalAlert').off("click", ".md-accept");
            });
        });

        guardarDatos();
        function guardarDatos() {

            $("#TablaIndicadores").off('click', '.editarIndicador');
            $("#TablaIndicadores").on("click", ".editarIndicador", function (e) {
                //alert(" ");
                e.preventDefault();
                var idIndi = $(this).attr("id-item");
                // meses
                var id_Ene = $("#id_Ene").val();
                var id_Feb = $("#id_Feb").val();
                var id_Mar = $("#id_Mar").val();
                var id_Abr = $("#id_Abr").val();
                var id_May = $("#id_May").val();
                var id_Jun = $("#id_Jun").val();
                var id_Jul = $("#id_Jul").val();
                var id_Ago = $("#id_Ago").val();
                var id_Sep = $("#id_Sep").val();
                var id_Oct = $("#id_Oct").val();
                var id_Nov = $("#id_Nov").val();
                var id_Dec = $("#id_Dec").val();
                //$(".editarIndicador").attr("disabled", true);
                //CargarReglasGeneralFormuario();
                //if ($("#FrmDatos").valid()) {
                //    var frmValues = $("#FrmDatos").serialize();
                $.ajax({
                    url: '@Url.Action("SaveDatos", "IndicadoresView")',
                    data: { idIndi, id_Ene, id_Feb, id_Mar, id_Abr, id_May, id_Jun, id_Jul, id_Ago, id_Sep, id_Oct, id_Nov, id_Dec},
                        type: "POST",
                        success: function (result) {//obtiene el resultado json
                            $(".editarIndicador").attr("disabled", false);
                            if (result.success) {//si es true el resultado
                                ConfigModal($('#ModalAlert'), "", "Operación realizada con éxito.", 1)//para crear la ventana flotante
                                $("#ModalAlert").modal({
                                    dismissible: false,
                                });
                                $('#mensaje-error-model').text("");
                                $("#TablaIndicadores").load('@Url.Action("_TablaLineas", "IndicadoresView")', function (response, status, xhr) {
                                    if (status == "success") {
                                        guardarDatos();
                                    }
                                });

                                $("#ModalAlert").modal('open');
                                $("#ModalAlert").modal('open');
                                window.location = "/IndicadoresView/index";
                                @*$("#TablaIndicadores").load('@Url.Action("_TablaLineas", "ProveedoresView")', function (response, status, xhr) {
                                    if (status == "success") {
                                    }
                                });*@
                            }
                            else if (result.mensajefound != "") {
                                ConfigModal($('#ModalAlert'), "",result.mensajefound , 3)//para crear la ventana flotante
                                $("#ModalAlert").modal({
                                    dismissible: false,
                                });
                                $("#ModalAlert").modal('open');
                            }
                        }
                    });
                //} else {
                //    $(".editarIndicador").attr("disabled", false);
                //}
            });
        }


        @*REGLAS FORMULARIO*@
        //function CargarReglasGeneralFormuario() {
        //    var formulario = $("#FrmUsuario").removeData("validator").removeData("unobtrusiveValidation");
        //    $.validator.unobtrusive.parse(formulario);

        //    jQuery.extend(jQuery.validator.messages, {
        //        minlength: jQuery.validator.format("El campo nombre debe llevar minimo {0} caracteres."),
        //        maxlength: jQuery.validator.format("Porfavor ingrese caracteres no mayores a {0}.")
        //    });

        //}

        @*SEPARACION*@

        @*====================== PAGINACIONES ===========================*@

        function FltOnBeginPer(obj) {
            $("#TablaEmpresas #contentTablaEmpresas").addClass("loading-background");
            var $oncomplete = $('.loading-personas').addClass("loading-show").removeClass("loading");
        }

        function FltOnCompletePer(obj) {
            $("#TablaEmpresas #contentTablaEmpresas").removeClass("loading-background");
            var $oncomplete = $('.loading-personas').addClass("loading").removeClass("loading-show");
        }




    </script>
}

>>>>>>> ad71fbb916f671a3ef4c36985bbcb320cb741e1a
